<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.papeterie.mapper.QnaMapper">

	<insert id="write_ok" parameterType="kr.co.papeterie.vo.QnaVO">
		insert into qna(userid,name,pwd,category,title,content,writeday,bimil,grp,seq,dep)
		values(#{userid},#{name},#{pwd},#{category},#{title},#{content},now(),1,#{grp},#{seq},#{dep});
	</insert>
	
	<select id="list" resultType="kr.co.papeterie.vo.QnaVO">
		select * from qna order by grp desc, seq asc;
	</select>
	
	<update id="readnum">
		update qna set readnum=readnum+1
		where id=#{param1}
	</update>

	<select id="content" resultType="kr.co.papeterie.vo.QnaVO">
		select * from qna where id=#{param1}
	</select>
	
	<select id="ispwd" resultType="Integer">
 		select count(*) from qna
 		where pwd=#{param1} and id=#{param2}
 	</select>
 	
 	<delete id="delete">
		delete from qna where id=#{param1}
	</delete>
	
	<select id="update" resultType="kr.co.papeterie.vo.QnaVO">
		select * from qna where id=#{param1}
	</select>
	
	<update id="update_ok" parameterType="kr.co.papeterie.vo.QnaVO">
		update qna set title=#{title}, content=#{content}, category=#{category}
		where id=#{id}
	</update>
	
	<select id="get_grp" resultType="Integer">
		select ifnull(max(grp),0) from qna;
	</select>
	
	<update id="up_seq">
		update qna set seq=seq+1
		where seq=#{param1} and grp=#{param2}
	</update>
	
	<insert id="rewrite_ok" parameterType="kr.co.papeterie.vo.QnaVO">
		insert into qna(userid,name,pwd,title,content,grp,seq,dep)
		values(#{userid},#{name},#{pwd},#{title},#{content},#{grp},#{seq},#{dep});
	</insert>
	
	<update id="dapbun">
		update qna set dapbun=1 where id=#{param1} 
	</update>
	
</mapper>