@charset "UTF-8";

	/* 탑 부분 CSS */
	body{
	margin:0;
	}
	
	.fixed-header {position:fixed;top:0;left:0;width:100%;animation:slide-down 0.7s;opacity:0.9;}
        @keyframes slide-down {
            0% {
                opacity: 0;
                transform: translateY(-100%);
            } 
            100% {
                opacity: 0.9;
                transform: translateY(0);
            } 
        }
	
	.top_head{
	z-index:10000;
	}
	
	.top_head_first{
	border-bottom:1px solid #e6e6e6;
	width:auto;
	height:35px;
	background:white;
	padding-top:3px;
	position:relative;
	}
	
	.top-head-menu{
	position:absolute;
	width:500px;
	left:68%;
	}
	
	.top_head_second{
	padding-top:10px;
	text-align:center;
	height:90px;
	background:white;
	}
	
	.top_head_first_menu{
	padding-right:5px;
	padding-left:5px;
	font-size:10px;
	font-weight:bold;
	text-decoration:none;
	color:gray;
	}
	
	.top_head_first_menu:hover{
	color:gray;
	}
	
	.top_head_first_menu2{
	font-size:10px;
	font-weight:bold;
	text-decoration:none;
	color:gray;
	}
	
	.top_head_second_menu{
	padding-right:40px;
	}
	
	@font-face {
    font-family: 'SF_IceMango';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_IceMango.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
	
	.top-logo-text1{
	font-family:SF_IceMango;
	font-size:32px;
	color:Salmon;
	}
	
	.top-logo-text3{
	position:absolute;
	display:none;
	left:47%;
	top:-5px;
	}
	
	.top-logo-head{
	height:70px;
	}
	
	.second-head{
	background:white;
	border-bottom:1px solid #e6e6e6;
	}
	
	.second-menu{
	width:1000px;
	height:55px;
	margin:auto;
	padding-top:5px;
	padding-left:150px;
	}
	
	.second-menu a{
	color:black;
	text-decoration:none;
	}
	
	.second-menu li{
	list-style-type:none;
	text-align:center;
	font-weight:500;
	font-size:16px;
	color:black;
	display:inline-block;
	padding-top:8px;
	width:100px;
	margin-right:50px;
	height:50px;
	}

	
 	.second-head .second-menu li{
	position:relative;
	}

	.second-head .second-menu .sub{
	position:absolute;
    padding-left:0px;
    visibility:hidden;
    top:50px;
    z-index:10000;
    background:white;
    border:1px solid #e6e6e6;
    border-top:none;
    width:100px;
    padding-top:5px;
	}
	
	.sub li{
	 font-size:14px;
	}
	
	a.top {
        position: fixed;
        left: 85%;
        bottom: 60px;
        display: none;
      }

	
	
	
	/* 바텀 부분 CSS */
	#bottom-head{
	width:auto;
	height:300px;
	background:#f2f2f2;
	margin-top:210px;
	}

	#bottom-img{
	margin-top:20px;
	margin-bottom:120px;
	margin-right:20px;
	}

	#bottom-content{
	width:1000px;
	height:300px;
	margin:auto;
	}
	
	#bottom-first{
	margin-bottom:20px;
	}
	
	#bottom-first a{
	font-weight:bold;
	font-size:16px;
	margin-right:50px;
	color:black;
	}

	.bottom-second{
	color:#4d4d4d;
	font-size:14px;
	margin-bottom:10px;
	}
	
	#bottom-right{
	display:inline-block;
	margin-top:40px;
	}
	
	#bottom-left{
	display:inline-block;
	height:100px;
	}
	
