@charset "UTF-8";

body {
	margin: 0px;
}

#section {
	display: flex;
	justify-content: center;
	width: 900px;
	height: auto;
	margin: auto;
	position: relative; 
	padding-top: 60px;
}

#section2 {
	display: flex;
	justify-content: center;
	width: 900px;
	height: auto;
	margin: auto;
	position: relative; 
	padding-top: 150px;
}

#section3 {
	width: 1200px;
	height: auto;
	margin: auto;
	position: relative; 
	padding-top: 50px;
}

#section-goods {
	width: 1200px;
	height: auto;
	margin: auto;
	position: relative; 
	padding-top: 50px;
	padding-left:30px;
}
